
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Subsciption -Model</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Restaurantly - v1.1.0
  * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-phone"></i> +918563808946
        <span class="d-none d-lg-inline-block"><i class="icofont-clock-time icofont-rotate-180"></i> Mon-Sat: 11:00 AM - 23:00 PM</span>
      </div>
      
    </div>
  </div>
  <!-- Header Close -->

  <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="page-header">
                      <h2 class="pageheader-title"></h2>






                  </div>
              </div>
          </div>
             <br>
             <br>
            <div class="row">
                <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-header p-4" style="background-color:burlywood;">
                             <center><h4 style="color: black;">Scheme 1
                            </h4></center>


                        </div>

                        <br>

                            <div  class="box">
                              <center><h5 style="color: brown;">&nbsp What service does Plan offer?</h5></center>
                              <br>

                              <p class="ex1" style="color: brown;">&nbsp Once a user subscribes to a scheme, the
                                validity of the scheme is 12 months
                                </p>


                              <ul>
                                <li style="color: brown;">The user has to select a set payment
                                    premium amount to pay for 11 months</li>
                                <li style="color: brown;"> The minimum premium amount the user
                                    could choose id INR 3000 and can increase
                                    the premium amounts in multiples of INR
                                    1000</li>
                                <li style="color: brown;"> Any user subscribing to the scheme can set
                                a designated payment date in a month for
                                payment of their premium, which will be set
                                as the default payment date for the
                                upcoming tenure
                                </li>
                                <li style="color: brown;">For any user who has defaulted the
                                    premium payment for the month, a late fee
                                    of INR 50 will be levied for every week from
                                    the due date until the premium payment is
                                    completed by the user
                                    </li>
                                <li style="color: brown;">
                                    If the user has successfully paid all the
premium amounts for the tenure i.e 11
months, a month of the premium amount is
added to the balance and 0% making
charges as an offer from Maheswari
                                </li>
                                <li style="color: brown;">
                                    In the 12th month, the user will visit the
store and avail of jeweler worth the
accumulated amount, which will be availed
by the billing system

                                </li>


                                <br>

                                <br>
                              </ul>



                                </table>
                            </div>




















  >

  <!-- ======= Footer ======= -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>
