<%- include('partials/header') %>

<div class="container">

<div class="jumbotron centered">
    <i class="fas fa-credit-card fa-6x"></i>
  <h1 style="color:green;opacity:0.5;">Make a Payment  </h1>

    <form action="/pay" method="POST">
    

      <div class="form-group">
        <input type="text" class="form-control text-center" name="name" placeholder="Enter Your Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control text-center" name="email" placeholder="Enter Your Email">
        </div>
          <div class="form-group">
              <input type="number" class="form-control text-center" name="number" placeholder="Enter Your Number">
          </div>

            <div class="form-group">
              <input type="number" class="form-control text-center" name="amount" value=<%= amt %> readonly>
            </div>

      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>

  </div>
</div>
<%- include('partials/footer') %>
